/* src/pages/main/Home/HomePage.css */

.home-page-container {
  display: flex; /* Dùng Flexbox để chia 2 cột */
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

/* Cột Sidebar */
.home-sidebar {
  /* position: sticky;       Kích hoạt chế độ dính */
  /* top: 90px;              Cách đỉnh màn hình 90px (70px Header + 20px khoảng thở) */
  /* height: fit-content; */
  width: 250px;
  flex-shrink: 0; /* Không cho sidebar bị co lại */
}

/* Cột Content */
.home-content {
  flex: 1; /* Chiếm hết phần còn lại */
}

.banner {
  background: #e3f2fd;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 24px;
  text-align: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.no-result {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  padding: 40px;
}

/* Responsive Mobile: Giấu sidebar hoặc để dọc */
@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column;
  }
  .home-sidebar {
    width: 100%;
  }
}
/* ... giữ nguyên các class khác */

.home-content {
  flex: 1;
  /* --- THÊM DÒNG NÀY --- */
  min-width: 0; /* Bắt buộc: Ngăn không cho cột này phình to theo nội dung con */
  /* --------------------- */
}
.for-more {


  display: flex;
  justify-content: center; /* giữa ngang */
  margin-bottom: 40px;
}

.for-more-text {
  color: #555;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 5px;

  position: relative;
  overflow: hidden;

  transition: color 0.3s ease;
}

/* lớp màu chạy */
.for-more-text::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(36, 120, 222);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
}

/* hover */
.for-more-text:hover {
  color: white;
}

.for-more-text:hover::before {
  transform: scaleX(1);
}
